<div class="card my-4">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6"><i class="fas fa-table mr-1"></i>Company List</div>
      <div class="col-md-6">
        <button
          class="btn btn-outline-primary float-right"
          type="button"
          (click)="addCompany()"
        >
          Add
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Name</th>
            <th>Total Employees</th>
            <th>Company Active</th>
            <th>Total Branch</th>
            <th>Operations</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let company of companies">
            <td>{{ company.id }}</td>
            <td>{{ company.email }}</td>
            <td>{{ company.name }}</td>
            <td>{{ company.totalEmployee }}</td>
            <td>{{ company.isCompanyActive }}</td>
            <td>{{ company.totalBranch }}</td>
            <td>
              <button
                class="btn btn-outline-info btn-sm mr-1"
                (click)="showCompanyDetails(company)"
              >
                View
              </button>
              <button
                class="btn btn-outline-success btn-sm mr-1"
                (click)="editCompany(company)"
              >
                Edit
              </button>
              <button
                class="btn btn-outline-danger btn-sm mr-1"
                (click)="removeCompanyDetails(company)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
